.blue {
  background-color: blue;
}
.blackBord {
  border: 2px solid black;
}
.yellow {
  background-color: yellow;
}
.pad {
  padding: 3rem;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.gray {
  background-color: gray;
}
.cyan {
  background-color: cyan;
}
.dark {
  background-color: darkgray;
}
